* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

body {
    width: 100vw;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 0;
}

.container {
    position: relative;
    z-index: 1;
}

.main-video {
    width: 750px;
    padding: 5px;
    background-color: #999;
    border-radius: 10px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 9;
    display: none;
}

.active {
    display: block;
}

.main-video video {
    width: 100%;
    border-radius: 5px;
}

.main-video .close {
    position: absolute;
    width: 35px;
    height: 35px;
    border-radius: 10px 10px 0 0;
    background-color: #999;
    outline: none;
    border: none;
    font-size: 24px;
    font-weight: 600;
    top: -30px;
    right: 10px;
    cursor: pointer;
}

.main-video h3 {
    color: #2f2f2f;
    padding-left: 20px;
}

.videos {
    width: 750px;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    flex-wrap: wrap;
    gap: 10px;
    z-index: 2;
    visibility: visible;
}

.activeVideo {
    visibility: hidden;
}

.videos .video {
    width: 350px;
    height: 200px;
    position: relative;
    overflow: hidden;
    cursor: pointer;
}

.videos .video::after {
    width: 100%;
    height: 100%;
    position: absolute;
    content: '';
    z-index: 3;
    top: 0;
    left: 0;
    background-color: #00000088;
    border-radius: 5px;
}

.videos .video video {
    width: 350px;
    height: 200px;
    background-size: cover;
    border-radius: 5px;
}

.videos .video span {
    font-size: 50px;
    color: white;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 4;
}

.videos .video h4 {
    font-size: 15px;
    color: white;
    position: absolute;
    top: 10px;
    left: 10px;
    z-index: 4;
}